body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('Tbackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: #8b7373; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #141414;
    color: #fff;
}

header .logo {
    font-size: 1.5em;
    position: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

main h1, main h2 {
    color: #333;
}
img {
    max-width: 10%;
    height: auto;
}
.styled-image {
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: #302d2d;
    color: #484249;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

footer a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea, form button {
    margin-top: 5px;
    padding: 10px;
    font-size: 1em;
}

form button {
    background-color: #e7e6e6;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #fff6f6;
}